
body{
  font-family: 'VT323', monospace;
  background-color: black;
}

h1{
  text-align: center;
  padding: 2% 0 0 0;
  margin: 0;
  font-size: 10rem;
  color:#4f4f4f;
  background-color: black;


}
#timer-frame{
  background-color: black;
  margin: 0;
  text-align: center;
}

.led{
  color:#087200;
  font-size: 5rem;
  text-decoration: none;

}

a:hover{
  color:#087200;
}

.container-fluid{
  padding: 3% 35%;
  margin: 0;
}

.block{
  height: 40%;
}


i{
   padding: 2%;
   margin: 2%;
   font-size: 2rem;
   color:#4f4f4f;
}


.control-pannel{
  text-align: center;
  height: 5rem;
}

.buttons{
  text-align: center;
  padding-top: 0;
}

.fas:hover{
  color:#087200;
  font-size: 3rem;
}
